.wrapper{
    width: 420px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(30px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    color: white;
    border-radius: 10px;
    padding: 30px 40px;
}

.wrapper h1{
    font-size: 36px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    color: black;
}

.wrapper .inputbox{
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

.inputbox input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    border: 2px solid rgba(255, 255, 255, .2);
    outline: none;
    border-radius: 40px;
    font-size: 16px;
    color: #000000;
    padding: 20px 45px 20px 20px;
}

.inputbox input::placeholder{
    color: #000000;
}

.wrapper .rememberForgot{
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: -15px 0 15px;
}

.rememberForgot label input{
    accent-color:#ffff;
    margin-right: 4px;
}

.rememberForgot a{
    color: #ffff;
    text-decoration: none;
}

.rememberForgot a:hover{
    text-decoration: underline;
}

.wrapper hover{
    text-decoration: underline;
}

.wrapper button{
    width: 100%;
    height: 45px;
    background: #ffff;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1) ;
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 700;
}

.wrapper .registerLink {
    font-size: 14.5px;
    text-align: center;
    margin: 20px 0 15px;
}

.registerLink p a{
    color: #ffff;
    text-decoration: none;
    font-weight: 600;
}

.registerLink p a:hover{
    text-decoration: underline;
}

.whirlpoolImage{
    display: felx;
    justify-content: center;
    align-items: center;
    margin: -15px 76px;
    padding: 10px;


}

.whirlpoolImage img{
    width: 150px;
    height: auto;
    border-radius: 10px;
    transition: transform 0.3s ease-in-out;
}

.rememberForgot label, 
.rememberForgot a {
    color: #000000; /* Cambia el color a negro */
    font-weight: 600; /* Hace el texto un poco más bold */
}

.loginSubmit{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.loginSubmit button{
    transform: scale(1);
    transition: transform 0.2s ease-in-out;
}

.loginSubmit button:hover{
    transform: scale(1.05);
}


.inputbox {
    margin-bottom: 15px;
}

.success-message {
    color: #4CAF50;
    font-size: 14px;
    margin-top: 10px;
    text-align: center;
    padding: 5px;
    background-color: rgba(76, 175, 80, 0.1);
    border-radius: 5px;
}

.error-message {
    color: #ff3333;
    font-size: 14px;
    margin-top: 10px;
    text-align: center;
    padding: 5px;
    background-color: rgba(255, 51, 51, 0.1);
    border-radius: 5px;
}

.loginSubmit button:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
}